
/* TOP HEADER */
.topHeader {
  position: sticky;
  top: 0;
  z-index: 10000;
  width: 100%;
  background: #ffffff;
  transition: box-shadow 0.3s ease;
}
.topHeader.scrolled {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
}
.headerContainer{
  max-width: 1200px;
   margin: 0 auto;
  width: 100%;
  background: #ffffff;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* LOGO */
.logo h1 {
  font-size: 18px;
  font-weight: 500;
  color: #1A1A1A;
  margin: 0;
}

/* NAVBAR */
.navbar {
  display: flex; 
  gap: 25px;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 15px;
  transition: 0.3s;
}

.navbar a:hover {
  color: #FF9C00;
}

/* HEADER ICONS */
.headerIcons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.searchIcon,
.heartIcon {
  font-size: 20px;
  cursor: pointer;
  color: #000000;
  transition: 0.3s;
}

.searchIcon:hover,
.heartIcon:hover {
  color: #FF9C00;
}

/* BUTTON */
.headerIcons button {
  padding: 8px 16px;
  border: none;
  background: #FF9C00;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}
.desktopOnly{
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerIcons button:hover {
  background: #FF9C00;
}

/* ---------------------- */
/* TABLET RESPONSIVE */
/* ---------------------- */

@media (max-width: 992px) {
  .navbar {
    gap: 15px;
  }

  .navbar a {
    font-size: 14px;
  }

  .headerIcons button {
    padding: 7px 14px;
    font-size: 13px;
  }
}

/* HAMBURGER */
.hamburger {
  display: none;
  cursor: pointer;
}

/* MOBILE MENU */
.mobileMenu {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  background: #fff;
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  z-index: 9999;
}

.mobileMenu a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

.mobileMenu.show {
  display: flex;
}

/* MOBILE EXTRAS */
.mobileExtras {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.mobileExtras button {
  width: 100%;
}

/* ================= MOBILE ================= */
@media (max-width: 768px) {

  .desktopNav {
    display: none;
  }

  .desktopOnly {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .headerContainer {
    padding: 15px 10px;
  }
}