
/* TOP HEADER */
.topHeader {
  position: sticky;
  top: 0;
  z-index: 10000;
  width: 100%;
  background: #ffffff;
  transition: box-shadow 0.3s ease;
}
.topHeader.scrolled {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
}
.headerContainer{
  max-width: 1200px;
   margin: 0 auto;
  width: 100%;
  background: #ffffff;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* LOGO */
.logo h1 {
  font-size: 18px;
  font-weight: 500;
  color: #1A1A1A;
  margin: 0;
}

/* NAVBAR */
.navbar {
  display: flex; 
  gap: 25px;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 15px;
  transition: 0.3s;
}

.navbar a:hover {
  color: #FF9C00;
}

/* HEADER ICONS */
.headerIcons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.searchIcon,
.heartIcon {
  font-size: 20px;
  cursor: pointer;
  color: #000000;
  transition: 0.3s;
}

.searchIcon:hover,
.heartIcon:hover {
  color: #FF9C00;
}

/* BUTTON */
.headerIcons button {
  padding: 8px 16px;
  border: none;
  background: #FF9C00;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}

.headerIcons button:hover {
  background: #FF9C00;
}

/* ---------------------- */
/* TABLET RESPONSIVE */
/* ---------------------- */

@media (max-width: 992px) {
  .navbar {
    gap: 15px;
  }

  .navbar a {
    font-size: 14px;
  }

  .headerIcons button {
    padding: 7px 14px;
    font-size: 13px;
  }
}

/* ---------------------- */
/* MOBILE RESPONSIVE */
/* ---------------------- */

@media (max-width: 768px) {
  .topHeader {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 20px;
  }

  .navbar {
    width: 100%;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 12px;
  }

  .headerIcons {
    margin-top: 10px;
    width: 100%;
    justify-content: space-between;
  }

  .headerIcons button {
    flex-grow: 1;
  }
}

/* ---------------------- */
/* SMALL MOBILE */
/* ---------------------- */

@media (max-width: 480px) {
  .logo h1 {
    font-size: 20px;
  }

  .navbar {
    gap: 10px;
  }

  .navbar a {
    font-size: 13px;
  }

  .searchIcon,
  .heartIcon {
    font-size: 16px;
  }

  .headerIcons button {
    font-size: 12px;
    padding: 6px 10px;
  }
}