.feartureTools-section{
  background:#ffffff;
  padding:80px 60px;
  color:white;
}

/* HEADER */

.featureTools-header{ 
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:50px;
}

.featureTools-tag{
  font-family:Poppins;
  font-size:14px;
  margin-bottom:8px;
  color: #04316D;
}

.featureTools-header h2{
  font-size:36px;
  font-family:Poppins;
  color: #1A1A1A;
  font-weight:600;
}

.featureTools-header span{
  color:#FF9C00;
}

.feature-view-all{
  font-family:Poppins;
  cursor:pointer;
  color: #1A1A1A;
  font-size:16px;
}


.tool-content{
  background:#f3f3f3;
  padding:16px;
}

.stars{
  color:#ff9c00;
  font-size:14px;
}

.rating{
  color:#555;
}

.reviews{
  color:#777;
}

/* RESPONSIVE */

@media (max-width:1000px){
.tools-grid{
  grid-template-columns:repeat(2,1fr);
}
}

@media (max-width:600px){
.tools-grid{
  grid-template-columns:1fr;
}
} 