.partners-section{
  width:100%;
  background:#f4f4f4;
  padding:80px 40px;
}

.partners-container{
  max-width:1200px;
  margin:auto;
  text-align:center;
}

/* TAG */

.partners-tag{
  color:#04316D;
  font-weight:500;
  font-family: Lato;
font-style: Medium;
font-size: 16px;
leading-trim: NONE;
line-height: 70px;
letter-spacing: 0px;
vertical-align: middle;
text-transform: capitalize;

  
  
}

/* TITLE */
 
.partners-title{
  font-size:36px;
  font-weight:600;
  margin-bottom:60px;
  color:#222;
  
}

.partners-title span{
  color:#f59e0b;
}

/* LOGO GRID */

.partners-logos{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:60px;
  align-items:center;
  justify-items:center;
}

/* CARD */

.partner-card{
  text-align:center;
  transition:all .3s ease;
}

/* LOGO */

.partner-card img{
  max-width:160px;
  height:auto;
  object-fit:contain;
  transition:all .3s ease;
}

/* HOVER EFFECT */

.partner-card:hover img{
  transform:scale(1.08);
}

/* NAME */

.partner-card h4{
  margin-top:12px;
  font-size:16px;
  font-weight:600;
  color:#333;
} 

@media (max-width:1024px){

  .partners-logos{
    grid-template-columns:repeat(2,1fr);
    gap:40px;
  }
  .partners-section{
    padding:30px 0px;
  }

}

@media (max-width:600px){

  .partners-section{
    padding:30px 0px;
  }

  .partners-title{
    font-size:22px;
  }

  .partners-logos{
    grid-template-columns:1fr;
  }

}    