/* --------------------------- */
/* PRODUCT SECTION STYLES */
/* --------------------------- */

.product-section {
  padding: 80px 0px;
  background: #fff;
}

.product-container {
  max-width: 1200px;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 120px;
}

/* IMAGE WRAPPER */
.product-images {
  position: relative;
  width: 517px;
  min-height: 475px;
}

/* LEFT IMAGE */
.left-image {
  position: relative;
  width: 517px;
  height: 475px;

  border-top-left-radius: 16px;
  border-top-right-radius: 72px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 72px;

  overflow: hidden;
}

/* RIGHT IMAGE */
.right-image {
  position: absolute;
  width: 383px;
  height: 352px;

  top: 160px;
  left: 210px;

  border-top-left-radius: 16px;
  border-top-right-radius: 72px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 72px;

  border: 9px solid white;

  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

/* IMAGE FIT */
.img {
  object-fit: cover;
}

/* RIGHT CONTENT */
.product-content {
  width: 50%;
}

/* TAG */
.tag {
  color: #04316d;
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.5;
  text-transform: capitalize;
}

/* TITLE */
.product-content h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
}

.product-content h2 span {
  color: #f59e0b;
}

/* DESCRIPTION */
.desc {
  color: #1a1a1a99;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-top: 10px;
}

/* BUTTON */
.explore-btn {
  margin-top: 20px;
  padding: 12px 26px;
  background: #ff9c00;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
  font-size: 16px;
  border-top-left-radius: 5px;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 1px;
}

.explore-btn:hover {
  background: #d97706;
}

/* --------------------------- */
/* RESPONSIVE */
/* --------------------------- */

/* Tablet */
@media (max-width: 1024px) {
  .product-section {
    padding: 60px 10px;
    background: #fff;
  }
  .product-container {
    gap: 80px;
  }

  .right-image {
    width: 320px;
    height: 300px;
    left: 150px;
    top: 150px;
  }

  .left-image {
    width: 400px;
    height: 380px;
  }
}

/* Medium Tablet / Mobile Landscape */
@media (max-width: 900px) {
  .product-section {
    padding: 40px 0px;
    background: #fff;
  }
  .product-container {
    align-items: center;
    gap: 50px;
  }

  .product-images,
  .product-content {
    width: 100%;
  }

  .right-image {
    left: 50%;
    top: 200px;
    transform: translateX(-50%);
  }

  .left-image {
    width: 350px;
    height: 300px;
  }

  .product-content h2 {
    font-size: 28px;
    line-height: 36px;
  }

  .desc {
    font-size: 18px;
    line-height: 28px;
  }

  .explore-btn {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .product-section {
    padding: 20px 0px;
  }
  .product-container {
    flex-direction: column;
  }
  .tag {
    font-size: 14px;
  }
  .right-image {
    left: 50%;
    top: 200px;
    transform: translateX(-30%);
  }
}

/* Mobile */
@media (max-width: 480px) {
  .product-container {
    gap: 0px;
  }

  .left-image {
    width: 260px;
    height: 240px;
  }

  .right-image {
    width: 220px;
    height: 220px;
    top: 130px;
  }

  .product-content h2 {
    font-size: 22px;
    line-height: 28px;
  }

  .desc {
    font-size: 16px;
    line-height: 24px;
  }

  .explore-btn {
    font-size: 14px;
    padding: 10px 20px;
  }
  .product-images {
    min-height: 375px;
  }
}
