.banner {
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding: 60px 0px;
}

.banner-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    rgba(4, 49, 109, 0.8) 0%,
    rgba(4, 49, 109, 0.8) 11.65%,
    rgba(4, 49, 109, 0.8) 22.63%,
    rgba(4, 49, 109, 0.64) 37.94%,
    rgba(4, 49, 109, 0.56) 53.48%,
    rgba(4, 49, 109, 0.32) 66.06%,
    rgba(102, 102, 102, 0) 100%
  );
}

.banner-container {
  padding: 0px 20px;
  z-index: 2;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.banner-content {
  z-index: 2;
  max-width: 700px;
  color: white;
}

.banner-title {
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 20px;
}

.banner-subtitle {
  font-size: 20px;
  font-weight: 400;
  /* margin-bottom: 30px; */
}
.banner-subtitle span {
  color: #FF9C00;
}

.banner-buttons {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.banner-btn {
  color: white;
  padding: 12px 25px;
  background: #FF9C00;
  text-decoration: none;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: 0.3s;
  align-items: center;
  display: flex;
}

.btn-outline {
  color: white;
  padding: 12px 25px;
  background: transparent;
  text-decoration: none;
  border: 2px solid #fff;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: 0.3s;
}

.banner-btn:hover {
  scale: 1.05;
}



.banner-features {
  position: absolute;      
  bottom: -75px;            
  left: 50%;                
  transform: translateX(-50%); 
  display: flex;             
  justify-content: center;
}

.feature-card {
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
  justify-content: center;
  flex-direction: column;
  max-width: 200px;
  background-color: #fff;
  text-align: center;
  height: 150px;
  color: #333;
  padding: 25px;
  border-radius: 2px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25); /* subtle shadow */
}

.feature-icon {
  width: 30px;
  height: 30px;
  object-fit: contain;
  margin-bottom: 15px;
}

/* --------------------- */
/* Responsive */
/* --------------------- */

@media (max-width: 1200px) {
  .banner-title {
    font-size: 38px;
  }

  .banner-subtitle {
    font-size: 18px;
  }
}

@media (max-width: 1024px) {
  .banner-title {
    font-size: 36px;
  }

}

@media (max-width: 768px) {
  .banner {
    padding: 40px 20px;
    min-height: auto;
  }

  .banner-container {
    flex-direction: column;
    /* align-items: flex-start; */
  }

  .banner-title {
    font-size: 28px;
  }

  .banner-subtitle {
    font-size: 16px;
  }

  .banner-buttons {
    flex-direction: column;
    gap: 10px;
  }

  .banner-features {
    flex-direction: column;
    width: 90%;
    bottom: -280px; 
  }

  .feature-card {
    max-width: none;
    height: auto;
    padding: 20px;
  }

}

@media (max-width: 480px) {
  .banner-container {
    padding: 0px 20px;
  }
  
  .banner-title {
    font-size: 24px;
  }

  .banner-subtitle {
    font-size: 14px;
  }

  .banner-buttons {
    gap: 8px;
  }

  .banner-btn,
  .btn-outline {
    padding: 10px 20px;
    font-size: 14px;
  }

  .banner-features {
    position: absolute;
    /* width: 100%; */
     bottom: -260px;
  }

  .feature-card {
    padding: 15px;
    width: 100%;
    height: 100px;
  }

  .feature-icon {
    width: 25px;
    height: 25px;
    margin-bottom: 10px;
  }

}